# Project exclude paths
/out/
/resourcesPlsNoDelet/sounds/TheMusicWhatPlaysWhenYouAreDoingWell.wav
/misc/Vocals.zip
/resourcesPlsNoDelet/sounds/TheMusicWhatPlaysWhenYouAreDoingWellFull.wav
/The Button Factory zipped/
/The Button Factory zipped.zip
/The Button Factory EXE zipped.zip
/ButtonFactory.xml
